@model string

<style>
    /* Custom style for the image box */
    .image-box {
        padding: 10px;
        width: 200px;
        height: auto; 
    }

    .image {
        max-width: 100%; 
        height: auto; 
    }
</style>

<div class="custom-image-box">
    <label>Current Image:</label>

    @if (!string.IsNullOrEmpty(Model))
    {
        <div class="image-box">
            <img src="@Url.Content(Model)" alt="Current Image" class="image" />
        </div>
    }
    else
    {
        <span>No Image!</span>
    }
</div>
